# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:
- stage: Build
  displayName: "Build/Test"
  jobs:
  - job: Building
    pool:
      vmImage: ubuntu-latest

    steps:
    - script: chmod +x gradlew

    - task: Gradle@3
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '17'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/TEST-*.xml'
        tasks: 'clean build jacocoTestReport'

    - task: PublishCodeCoverageResults@2
      inputs:
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/build/reports/jacoco/test/jacocoTestReport.xml'
        pathToSources: '$(System.DefaultWorkingDirectory)/app/src/main/java/'

    - task: Gradle@3
      inputs:
        workingDirectory: ''
        gradleWrapperFile: 'gradlew'
        gradleOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '17'
        jdkArchitectureOption: 'x64'
        tasks: 'showProjectInfo'

    - task: CopyFiles@2
      inputs:
        contents: 'app/build/libs/*.jar'
        targetFolder: '$(build.artifactStagingDirectory)'

    - task: PublishPipelineArtifact@1
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'

- stage: Deploy
  jobs:
  - deployment: DeployJob
    pool:
      vmImage: 'ubuntu-latest'
    environment: 'CA3 Environment'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '17'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'drop'
              downloadPath: '$(Build.ArtifactStagingDirectory)'
          - script: |
              JAR_FILE=$(find $(Build.ArtifactStagingDirectory) -name *.jar)
              if [ -z "$JAR_FILE" ]; then
                echo "No JAR file found"
                exit 1
              fi
              echo "Found JAR file: $JAR_FILE"
              java -jar $JAR_FILE &
            displayName: 'Deploy Spring Boot app as service'

- stage: SecurityScanning
  displayName: 'Security Scanning'
  jobs:
  - job: SecurityCheck
    displayName: 'Security Check'
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - checkout: self
      fetchDepth: 0

    - task: Gitleaks@3
      displayName: 'Gitleaks secret scan (CredScan replacement)'
      inputs:
        scanlocation: '$(Build.SourcesDirectory)'

        configtype: 'predefined'
        predefinedconfigfile: 'GitleaksUdmCombo.toml'

        scanmode: 'smart'

        taskfail: false
        taskfailonexecutionerror: true

        reportformat: 'sarif'
        uploadresults: true
        reportartifactname: 'CodeAnalysisLogs'

        redact: true
        verbose: false

- stage: DependencySecurity
  displayName: 'Dependency Security Scanning'
  jobs:
  - job: OWASPCheck
    steps:
    - task: dependency-check-build-task@6
      inputs:
          projectName: '$(Build.Repository.Name)'
          scanPath: '$(System.DefaultWorkingDirectory)'
          format: 'HTML'
          uploadReports: true
          uploadSARIFReport: true
          nvdApiKey: '$(NVD_API_KEY)'
          additionalArguments: >
            --disableCentral
            --disableOssIndex